<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
这个是index页面！！！<br>
<table width="300px" style="text-align: center">
    <tr>
        <td>序号</td>
        <td>用户id</td>
        <td>用户姓名</td>
        <td>用户年龄</td>
    </tr>
    <tr th:each="user,start:${list}">
        <!--<td th:text="${start.index+1}">索引从0开始</td>-->
        <!--<td th:text="${start.count}">索引从1开始</td>-->
        <!--<td th:text="${start.size}">集合大小</td>-->
        <!--<td th:text="${start.current}>当前对象</td>-->
        <!--<td th:text="${start.even/odd}>奇偶</td>-->
        <!--<td th:text="${start.first/last}>第一个/最后一个</td>-->
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.age}"></td>
    </tr>
</table>
</body>
</html>